<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Whatsapp</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <div class="text-center">
        <h1>Whatsapp</h1>
        <h1>Message Scheduler</h1>
    </div>
    <br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Named entity recognition (NER)</strong> is the task of identifying and categorizing key information (entities) in a text. An entity can be any word or series of words that consistently refers to the same thing. Every detected entity is classified into a predetermined category.
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        A <strong>Named Entity Recognizer</strong> is a model that is able to identify named entities like 'Apple', 'U.K.' and '$1 billion' in the sentence "Apple is looking at buying U.K. startup for $1 billion“.
    </div>

    
    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Number</span>
            <input type="number" name ='num' class="form-control" placeholder="Mobile Number" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Message</span>
            <input type="text" name ='txt' class="form-control" placeholder="Text Message" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <button class="btn btn-outline-success" type="submit">Button</button>
    </form>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>